/!pip install networkx.txt
/.vscode
/0601_CreateTableFromExisting_UsingSelect.sql
/CASE.sql
/csv_files-20250525T124529Z-1-001
/csv_files-20250525T124529Z-1-001.zip
/CTE&Subquries.sql
/DateFunctions.sql
/sql_courses.session.sql
/sql_load-20250525T124648Z-1-001.zip
/test.sql